@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 204, 204, 204;
  --background-rgb: 30, 30, 30;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 204, 204, 204;
    --background-rgb: 30, 30, 30;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

.gutter {
  background: var(--gutter-background);
}

.gutter-horizontal {
  cursor: e-resize;
}

.gutter-vertical {
  cursor: n-resize;
}

.gutter:hover {
  background: #007fd4;
  transition-property: 'background';
  transition-duration: 0.1s;
  transition-delay: 0.2s;
}

input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
  /* max-width: 850px; */

}

input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.keyboardContainer {
  /* outline: 2px solid greenyellow; */
  max-height: 280px;
  width: 640px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  width: auto;
  margin: 10px auto 0;
  border-radius: 5px;
  font-size: 12px;
}

.simple-keyboard.hg-theme-default {
  /* display: inline-block; */
}

.simple-keyboard-main.simple-keyboard {
  /* background-color: #007fd4 !important; */
  width: 640px;
  min-width: 640px;
  background: none;
}

.simple-keyboard-main.simple-keyboard .hg-row:first-child {
  margin-bottom: 10px;
}

.simple-keyboard-arrows.simple-keyboard {
  /* background-color: #12eecd !important; */
  align-self: flex-end;
  background: none;
}

.simple-keyboard .hg-button.selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.simple-keyboard .hg-button.emptySpace {
  pointer-events: none;
  background: none;
  border: none;
  box-shadow: none;
}

.simple-keyboard-arrows .hg-row {
  justify-content: center;
}

.simple-keyboard-arrows .hg-button {
  width: 50px;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.controlArrows {
  min-height: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

.simple-keyboard-control.simple-keyboard {
  /* background-color: #b534e8 !important; */
  background: none;
}

.simple-keyboard-control.simple-keyboard .hg-row:first-child {
  margin-bottom: 10px;
}

.simple-keyboard-control .hg-button {
  width: 50px;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.numPad {
  min-height: 280px;
  display: flex;
  align-items: flex-end;
}

.simple-keyboard-numpad.simple-keyboard {
  /* background-color: #17ee77 !important; */
  background: none;
}

.simple-keyboard-numpad.simple-keyboard {
  width: 160px;
}

.simple-keyboard-numpad.simple-keyboard .hg-button {
  width: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.simple-keyboard-numpadEnd.simple-keyboard {
  /* background-color: #c3db0f !important; */
  width: 50px;
  background: none;
  margin: 0;
  padding: 5px 5px 5px 0;
}

.simple-keyboard-numpadEnd.simple-keyboard .hg-button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.simple-keyboard-numpadEnd .hg-button.hg-standardBtn.hg-button-plus {
  height: 85px;
}

.simple-keyboard-numpadEnd.simple-keyboard .hg-button.hg-button-enter {
  height: 85px;
}

.simple-keyboard.hg-theme-default .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.hg-button.hg-functionBtn.hg-button-space {
  width: 350px;
}



input {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: auto;
}

.simple-keyboard.hg-theme-default.myTheme {
  border-radius: 10px;
  border-radius: 0;
  background: rgb(30, 30, 30);
}

.simple-keyboard.hg-layout-default .hg-button {
  background: rgb(60, 60, 60);
  border: 0;
  color: white;
  border-radius: 0;
}